In [34]:
import os
import pandas as pd
import numpy as np
import time
path = os.path.dirname(os.path.realpath('__file__'))
print(path)
start_time = time.time()

rate = pd.read_csv(path + '\\ML\\ratings.csv')
print(rate)
end_time = time.time()
print(end_time - start_time)

C:\Users\Rowida Nagah
        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
5            1       70     3.0   964982400
6            1      101     5.0   964980868
7            1      110     4.0   964982176
8            1      151     5.0   964984041
9            1      157     5.0   964984100
10           1      163     5.0   964983650
11           1      216     5.0   964981208
12           1      223     3.0   964980985
13           1      231     5.0   964981179
14           1      235     4.0   964980908
15           1      260     5.0   964981680
16           1      296     3.0   964982967
17           1      316     3.0   964982310
18           1      333     5.0   964981179
19           1      349     4.0   964982563
20           1      356     4.0   964980962
21           1      362     5.0   964982588
22           1      367     4.0   964981710
23           1      423     3.0   964982363
24           1      441     4.0   964980868
25           1      457     5.0   964981909
26           1      480     4.0   964982346
27           1      500     3.0   964981208
28           1      527     5.0   964984002
29           1      543     4.0   964981179
...        ...      ...     ...         ...
100806     610   150401     3.0  1479543210
100807     610   152077     4.0  1493845817
100808     610   152081     4.0  1493846503
100809     610   152372     3.5  1493848841
100810     610   155064     3.5  1493848456
100811     610   156371     5.0  1479542831
100812     610   156726     4.5  1493848444
100813     610   157296     4.0  1493846563
100814     610   158238     5.0  1479545219
100815     610   158721     3.5  1479542491
100816     610   158872     3.5  1493848024
100817     610   158956     3.0  1493848947
100818     610   159093     3.0  1493847704
100819     610   160080     3.0  1493848031
100820     610   160341     2.5  1479545749
100821     610   160527     4.5  1479544998
100822     610   160571     3.0  1493848537
100823     610   160836     3.0  1493844794
100824     610   161582     4.0  1493847759
100825     610   161634     4.0  1493848362
100826     610   162350     3.5  1493849971
100827     610   163937     3.5  1493848789
100828     610   163981     3.5  1493850155
100829     610   164179     5.0  1493845631
100830     610   166528     4.0  1493879365
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]
1.6038613319396973

In [35]:
import os
import pandas as pd
import numpy as np
path = os.path.dirname(os.path.realpath('__file__'))
print(path)
m = pd.read_csv(path + '\\ML\\ratings.csv')
print(m)
end_time = time.time()
print(end_time - start_time)

C:\Users\Rowida Nagah
        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
5            1       70     3.0   964982400
6            1      101     5.0   964980868
7            1      110     4.0   964982176
8            1      151     5.0   964984041
9            1      157     5.0   964984100
10           1      163     5.0   964983650
11           1      216     5.0   964981208
12           1      223     3.0   964980985
13           1      231     5.0   964981179
14           1      235     4.0   964980908
15           1      260     5.0   964981680
16           1      296     3.0   964982967
17           1      316     3.0   964982310
18           1      333     5.0   964981179
19           1      349     4.0   964982563
20           1      356     4.0   964980962
21           1      362     5.0   964982588
22           1      367     4.0   964981710
23           1      423     3.0   964982363
24           1      441     4.0   964980868
25           1      457     5.0   964981909
26           1      480     4.0   964982346
27           1      500     3.0   964981208
28           1      527     5.0   964984002
29           1      543     4.0   964981179
...        ...      ...     ...         ...
100806     610   150401     3.0  1479543210
100807     610   152077     4.0  1493845817
100808     610   152081     4.0  1493846503
100809     610   152372     3.5  1493848841
100810     610   155064     3.5  1493848456
100811     610   156371     5.0  1479542831
100812     610   156726     4.5  1493848444
100813     610   157296     4.0  1493846563
100814     610   158238     5.0  1479545219
100815     610   158721     3.5  1479542491
100816     610   158872     3.5  1493848024
100817     610   158956     3.0  1493848947
100818     610   159093     3.0  1493847704
100819     610   160080     3.0  1493848031
100820     610   160341     2.5  1479545749
100821     610   160527     4.5  1479544998
100822     610   160571     3.0  1493848537
100823     610   160836     3.0  1493844794
100824     610   161582     4.0  1493847759
100825     610   161634     4.0  1493848362
100826     610   162350     3.5  1493849971
100827     610   163937     3.5  1493848789
100828     610   163981     3.5  1493850155
100829     610   164179     5.0  1493845631
100830     610   166528     4.0  1493879365
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]
53.15752840042114

In [8]:
C = rate["movieId"].mean()
C

19435.2957177992

In [23]:
from itertools import groupby
v = [len(list(group)) for key, group in groupby(rate["movieId"])]
len(v)

100836

In [24]:
a = [1,3,9,1,2,2,2,2,3,3,4,5,5]
from itertools import groupby
[len(list(group)) for key, group in groupby(a)]

[1, 1, 1, 1, 4, 2, 1, 2]

In [32]:
x = sorted(rate["movieId"])
from itertools import groupby
x=[len(list(group)) for key, group in groupby(x)]

[215,
 110,
 52,
 7,
 49,
 102,
 54,
 8,
 16,
 132,
 70,
 19,
 8,
 18,
 13,
 82,
 67,
 20,
 88,
 15,
 89,
 36,
 16,
 28,
 76,
 13,
 9,
 11,
 38,
 3,
 38,
 177,
 128,
 67,
 4,
 104,
 2,
 15,
 7,
 8,
 46,
 32,
 15,
 203,
 68,
 1,
 204,
 28,
 2,
 3,
 1,
 8,
 37,
 34,
 6,
 80,
 7,
 5,
 31,
 9,
 5,
 20,
 55,
 5,
 7,
 13,
 8,
 5,
 15,
 1,
 3,
 17,
 2,
 14,
 8,
 1,
 7,
 15,
 7,
 16,
 10,
 8,
 9,
 10,
 84,
 1,
 10,
 2,
 14,
 23,
 5,
 3,
 99,
 23,
 1,
 26,
 1,
 237,
 104,
 46,
 3,
 5,
 1,
 2,
 2,
 2,
 16,
 4,
 12,
 7,
 1,
 1,
 6,
 31,
 1,
 16,
 86,
 12,
 51,
 3,
 15,
 1,
 1,
 201,
 44,
 2,
 137,
 12,
 6,
 3,
 11,
 62,
 14,
 57,
 103,
 17,
 66,
 14,
 144,
 3,
 54,
 10,
 35,
 6,
 53,
 62,
 10,
 20,
 13,
 8,
 1,
 2,
 36,
 17,
 2,
 2,
 112,
 48,
 4,
 12,
 1,
 5,
 6,
 35,
 18,
 10,
 45,
 28,
 4,
 1,
 1,
 22,
 30,
 9,
 2,
 21,
 115,
 3,
 4,
 2,
 3,
 6,
 2,
 24,
 49,
 6,
 14,
 1,
 1,
 16,
 104,
 40,
 52,
 22,
 3,
 7,
 24,
 133,
 14,
 12,
 17,
 70,
 45,
 22,
 2,
 17,
 4,
 1,
 5,
 1,
 29,
 21,
 17,
 18,
 6,
 3,
 43,
 109,
 1,
 7,
 35,
 14,
 10,
 5,
 251,
 42,
 21,
 1,
 33,
 68,
 17,
 2,
 5,
 4,
 31,
 28,
 7,
 6,
 22,
 38,
 2,
 2,
 13,
 14,
 40,
 3,
 1,
 1,
 1,
 92,
 8,
 14,
 3,
 101,
 133,
 2,
 1,
 307,
 1,
 4,
 81,
 1,
 5,
 32,
 3,
 9,
 16,
 24,
 20,
 1,
 1,
 9,
 3,
 16,
 38,
 140,
 81,
 317,
 20,
 1,
 2,
 10,
 1,
 7,
 3,
 34,
 10,
 108,
 6,
 2,
 12,
 50,
 5,
 2,
 1,
 77,
 19,
 98,
 5,
 2,
 33,
 5,
 161,
 36,
 6,
 6,
 30,
 110,
 57,
 17,
 2,
 64,
 6,
 42,
 329,
 103,
 9,
 1,
 8,
 17,
 34,
 2,
 172,
 4,
 12,
 157,
 74,
 2,
 58,
 21,
 21,
 11,
 25,
 40,
 171,
 7,
 21,
 178,
 11,
 16,
 21,
 2,
 1,
 1,
 4,
 2,
 2,
 5,
 1,
 10,
 12,
 1,
 8,
 2,
 1,
 84,
 15,
 26,
 6,
 16,
 8,
 13,
 2,
 20,
 59,
 12,
 5,
 10,
 3,
 2,
 7,
 12,
 18,
 6,
 2,
 42,
 55,
 8,
 101,
 63,
 7,
 9,
 7,
 76,
 42,
 81,
 6,
 12,
 9,
 8,
 1,
 7,
 1,
 3,
 5,
 101,
 37,
 4,
 190,
 5,
 6,
 3,
 4,
 10,
 60,
 1,
 22,
 5,
 1,
 40,
 6,
 7,
 70,
 25,
 1,
 17,
 1,
 4,
 238,
 19,
 8,
 2,
 53,
 3,
 4,
 1,
 11,
 12,
 17,
 14,
 12,
 41,
 1,
 1,
 43,
 2,
 144,
 6,
 15,
 2,
 7,
 2,
 13,
 66,
 61,
 1,
 2,
 4,
 4,
 18,
 24,
 18,
 9,
 4,
 21,
 69,
 3,
 7,
 4,
 34,
 1,
 220,
 3,
 40,
 24,
 16,
 18,
 14,
 15,
 3,
 12,
 12,
 106,
 18,
 124,
 14,
 41,
 8,
 21,
 2,
 6,
 2,
 5,
 93,
 61,
 65,
 65,
 6,
 8,
 23,
 1,
 2,
 3,
 2,
 6,
 1,
 4,
 16,
 4,
 1,
 5,
 4,
 1,
 36,
 116,
 115,
 183,
 224,
 164,
 189,
 279,
 77,
 146,
 60,
 135,
 11,
 1,
 1,
 10,
 4,
 181,
 14,
 33,
 6,
 6,
 8,
 1,
 45,
 3,
 1,
 5,
 1,
 6,
 35,
 11,
 1,
 1,
 4,
 2,
 1,
 33,
 1,
 4,
 11,
 2,
 29,
 162,
 1,
 4,
 65,
 5,
 49,
 7,
 12,
 3,
 8,
 2,
 2,
 36,
 53,
 9,
 9,
 1,
 4,
 2,
 9,
 3,
 4,
 11,
 2,
 5,
 1,
 7,
 2,
 7,
 1,
 21,
 58,
 11,
 8,
 10,
 15,
 3,
 4,
 35,
 27,
 1,
 31,
 5,
 1,
 10,
 3,
 121,
 7,
 123,
 20,
 27,
 11,
 29,
 48,
 3,
 22,
 97,
 1,
 2,
 2,
 19,
 41,
 2,
 19,
 4,
 1,
 1,
 102,
 2,
 202,
 7,
 8,
 47,
 54,
 42,
 64,
 82,
 1,
 1,
 2,
 12,
 23,
 19,
 11,
 46,
 1,
 8,
 35,
 1,
 2,
 9,
 12,
 5,
 10,
 1,
 1,
 6,
 9,
 21,
 37,
 6,
 3,
 17,
 33,
 30,
 15,
 4,
 2,
 12,
 7,
 44,
 6,
 43,
 192,
 9,
 23,
 2,
 3,
 2,
 1,
 1,
 4,
 27,
 5,
 1,
 2,
 6,
 3,
 1,
 5,
 13,
 3,
 2,
 2,
 29,
 47,
 12,
 7,
 36,
 60,
 84,
 14,
 7,
 2,
 57,
 27,
 50,
 13,
 100,
 44,
 35,
 30,
 26,
 2,
 10,
 92,
 45,
 9,
 27,
 69,
 109,
 24,
 3,
 18,
 1,
 20,
 9,
 8,
 23,
 12,
 3,
 6,
 2,
 6,
 8,
 2,
 6,
 7,
 3,
 7,
 3,
 4,
 6,
 6,
 7,
 14,
 12,
 58,
 18,
 18,
 1,
 1,
 1,
 1,
 11,
 28,
 34,
 1,
 10,
 5,
 1,
 1,
 2,
 1,
 2,
 13,
 1,
 2,
 5,
 11,
 1,
 11,
 13,
 3,
 12,
 3,
 6,
 8,
 5,
 10,
 1,
 9,
 9,
 8,
 9,
 12,
 5,
 20,
 5,
 10,
 6,
 17,
 37,
 27,
 42,
 13,
 6,
 25,
 28,
 71,
 35,
 15,
 24,
 40,
 20,
 5,
 64,
 145,
 24,
 1,
 11,
 42,
 5,
 4,
 33,
 21,
 5,
 3,
 1,
 1,
 2,
 7,
 15,
 36,
 36,
 29,
 13,
 4,
 1,
 119,
 28,
 11,
 71,
 89,
 12,
 6,
 6,
 35,
 2,
 25,
 42,
 131,
 63,
 21,
 47,
 37,
 42,
 15,
 10,
 122,
 4,
 19,
 83,
 15,
 20,
 3,
 2,
 4,
 2,
 1,
 1,
 1,
 1,
 27,
 1,
 2,
 13,
 24,
 6,
 62,
 5,
 39,
 5,
 11,
 8,
 13,
 136,
 1,
 1,
 1,
 10,
 56,
 3,
 2,
 1,
 3,
 1,
 1,
 2,
 2,
 17,
 34,
 11,
 21,
 3,
 6,
 12,
 27,
 1,
 45,
 7,
 10,
 23,
 5,
 22,
 11,
 6,
 6,
 5,
 133,
 11,
 211,
 142,
 200,
 59,
 126,
 72,
 7,
 57,
 45,
 120,
 58,
 107,
 18,
 196,
 13,
 24,
 126,
 146,
 51,
 11,
 15,
 11,
 83,
 84,
 129,
 102,
 28,
 19,
 76,
 6,
 16,
 40,
 58,
 22,
 8,
 40,
 64,
 26,
 3,
 18,
 9,
 131,
 10,
 41,
 16,
 33,
 20,
 86,
 79,
 17,
 35,
 45,
 14,
 59,
 25,
 16,
 6,
 23,
 27,
 109,
 91,
 15,
 34,
 43,
 43,
 5,
 143,
 45,
 30,
 9,
 29,
 171,
 30,
 33,
 11,
 39,
 48,
 57,
 12,
 69,
 8,
 9,
 15,
 53,
 19,
 14,
 41,
 7,
 34,
 66,
 11,
 10,
 140,
 20,
 27,
 11,
 17,
 20,
 23,
 28,
 9,
 13,
 56,
 ...]

In [40]:
city_names = pd.Series(['Francisco', 'Jose', 'Alex'])
city_names

0    Francisco
1         Jose
2         Alex
dtype: object

In [38]:
population = pd.Series([852469, 1015785, 485199])
population

0     852469
1    1015785
2     485199
dtype: int64

In [41]:
pd.DataFrame({ 'City name': city_names, 'Population': population })

   City name  Population
0  Francisco      852469
1       Jose     1015785
2       Alex      485199