In [1]:
import os
import pandas as pd
import numpy as np
import time
path = os.path.dirname(os.path.realpath('__file__'))
print(path)
rate = pd.read_csv(path + '\\ML\\ratings.csv')
rate.head()

C:\Users\Rowida Nagah

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [2]:
import os
import pandas as pd
import numpy as np
import time
path = os.path.dirname(os.path.realpath('__file__'))
print(path)
movies = pd.read_csv(path + '\\ML\\movies.csv')
print(movies.shape)
movies.head()

C:\Users\Rowida Nagah
(9742, 3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
data = pd.merge_asof(rate , movies, left_index=True, right_index=True)
print(data.shape    ,  rate.shape  , movies.shape)
data.head()

(100836, 7) (100836, 4) (9742, 3)

,userId,movieId_x,rating,timestamp,movieId_y,title,genres
0,1,1,4.0,964982703,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,2,Jumanji (1995),Adventure|Children|Fantasy
2,1,6,4.0,964982224,3,Grumpier Old Men (1995),Comedy|Romance
3,1,47,5.0,964983815,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,1,50,5.0,964982931,5,Father of the Bride Part II (1995),Comedy

In [6]:
"""
v is the number of votes for the movie;
m is the minimum votes required to be listed in the chart;
R is the average rating of the movie; And
C is the mean vote across the whole report
"""
# Calculate num vote for all movies 
x = data.groupby('title')['rating'].count()
x  #lol

title
'71 (2014)                                                                                  1
'Hellboy': The Seeds of Creation (2004)                                                     1
'Round Midnight (1986)                                                                      1
'Salem's Lot (2004)                                                                         1
'Til There Was You (1997)                                                                   1
'Tis the Season for Love (2015)                                                             1
'burbs, The (1989)                                                                          1
'night Mother (1986)                                                                        1
(500) Days of Summer (2009)                                                                 1
*batteries not included (1987)                                                              1
...All the Marbles (1981)                                                                   1
...And Justice for All (1979)                                                               1
00 Schneider - Jagd auf Nihil Baxter (1994)                                                 1
1-900 (06) (1994)                                                                           1
10 (1979)                                                                                   1
10 Cent Pistol (2015)                                                                       1
10 Cloverfield Lane (2016)                                                                  1
10 Items or Less (2006)                                                                     1
10 Things I Hate About You (1999)                                                           1
10 Years (2011)                                                                             1
10,000 BC (2008)                                                                            1
100 Girls (2000)                                                                            1
100 Streets (2016)                                                                          1
101 Dalmatians (1996)                                                                       1
101 Dalmatians (One Hundred and One Dalmatians) (1961)                                      1
101 Dalmatians II: Patch's London Adventure (2003)                                          1
101 Reykjavik (101 Reykjavík) (2000)                                                        1
102 Dalmatians (2000)                                                                       1
10th & Wolf (2006)                                                                          1
10th Kingdom, The (2000)                                                                    1
                                                                                           ..
Zero Dark Thirty (2012)                                                                     1
Zero Effect (1998)                                                                          1
Zero Theorem, The (2013)                                                                    1
Zero de conduite (Zero for Conduct) (Zéro de conduite: Jeunes diables au collège) (1933)    1
Zeus and Roxanne (1997)                                                                     1
Zipper (2015)                                                                               1
Zodiac (2007)                                                                               1
Zombeavers (2014)                                                                           1
Zombie (a.k.a. Zombie 2: The Dead Are Among Us) (Zombi 2) (1979)                            1
Zombie Strippers! (2008)                                                                    1
Zombieland (2009)                                                                           1
Zone 39 (1997)                                                                              1
Zone, The (La Zona) (2007)                                                                  1
Zookeeper (2011)                                                                            1
Zoolander (2001)                                                                            1
Zoolander 2 (2016)                                                                          1
Zoom (2006)                                                                                 1
Zoom (2015)                                                                                 1
Zootopia (2016)                                                                             1
Zulu (1964)                                                                                 1
Zulu (2013)                                                                                 1
[REC] (2007)                                                                                1
[REC]² (2009)                                                                               1
[REC]³ 3 Génesis (2012)                                                                     1
anohana: The Flower We Saw That Day - The Movie (2013)                                      1
eXistenZ (1999)                                                                             1
xXx (2002)                                                                                  1
xXx: State of the Union (2005)                                                              1
¡Three Amigos! (1986)                                                                       1
À nous la liberté (Freedom for Us) (1931)                                                   1
Name: rating, Length: 9737, dtype: int64

In [7]:
C = rate["movieId"].mean()  # mean for the whole rate
v = sorted(rate["movieId"])
from itertools import groupby
v =[len(list(group)) for key, group in groupby(v)]
v  #v is the number of votes for each movi

[215,
 110,
 52,
 7,
 49,
 102,
 54,
 8,
 16,
 132,
 70,
 19,
 8,
 18,
 13,
 82,
 67,
 20,
 88,
 15,
 89,
 36,
 16,
 28,
 76,
 13,
 9,
 11,
 38,
 3,
 38,
 177,
 128,
 67,
 4,
 104,
 2,
 15,
 7,
 8,
 46,
 32,
 15,
 203,
 68,
 1,
 204,
 28,
 2,
 3,
 1,
 8,
 37,
 34,
 6,
 80,
 7,
 5,
 31,
 9,
 5,
 20,
 55,
 5,
 7,
 13,
 8,
 5,
 15,
 1,
 3,
 17,
 2,
 14,
 8,
 1,
 7,
 15,
 7,
 16,
 10,
 8,
 9,
 10,
 84,
 1,
 10,
 2,
 14,
 23,
 5,
 3,
 99,
 23,
 1,
 26,
 1,
 237,
 104,
 46,
 3,
 5,
 1,
 2,
 2,
 2,
 16,
 4,
 12,
 7,
 1,
 1,
 6,
 31,
 1,
 16,
 86,
 12,
 51,
 3,
 15,
 1,
 1,
 201,
 44,
 2,
 137,
 12,
 6,
 3,
 11,
 62,
 14,
 57,
 103,
 17,
 66,
 14,
 144,
 3,
 54,
 10,
 35,
 6,
 53,
 62,
 10,
 20,
 13,
 8,
 1,
 2,
 36,
 17,
 2,
 2,
 112,
 48,
 4,
 12,
 1,
 5,
 6,
 35,
 18,
 10,
 45,
 28,
 4,
 1,
 1,
 22,
 30,
 9,
 2,
 21,
 115,
 3,
 4,
 2,
 3,
 6,
 2,
 24,
 49,
 6,
 14,
 1,
 1,
 16,
 104,
 40,
 52,
 22,
 3,
 7,
 24,
 133,
 14,
 12,
 17,
 70,
 45,
 22,
 2,
 17,
 4,
 1,
 5,
 1,
 29,
 21,
 17,
 18,
 6,
 3,
 43,
 109,
 1,
 7,
 35,
 14,
 10,
 5,
 251,
 42,
 21,
 1,
 33,
 68,
 17,
 2,
 5,
 4,
 31,
 28,
 7,
 6,
 22,
 38,
 2,
 2,
 13,
 14,
 40,
 3,
 1,
 1,
 1,
 92,
 8,
 14,
 3,
 101,
 133,
 2,
 1,
 307,
 1,
 4,
 81,
 1,
 5,
 32,
 3,
 9,
 16,
 24,
 20,
 1,
 1,
 9,
 3,
 16,
 38,
 140,
 81,
 317,
 20,
 1,
 2,
 10,
 1,
 7,
 3,
 34,
 10,
 108,
 6,
 2,
 12,
 50,
 5,
 2,
 1,
 77,
 19,
 98,
 5,
 2,
 33,
 5,
 161,
 36,
 6,
 6,
 30,
 110,
 57,
 17,
 2,
 64,
 6,
 42,
 329,
 103,
 9,
 1,
 8,
 17,
 34,
 2,
 172,
 4,
 12,
 157,
 74,
 2,
 58,
 21,
 21,
 11,
 25,
 40,
 171,
 7,
 21,
 178,
 11,
 16,
 21,
 2,
 1,
 1,
 4,
 2,
 2,
 5,
 1,
 10,
 12,
 1,
 8,
 2,
 1,
 84,
 15,
 26,
 6,
 16,
 8,
 13,
 2,
 20,
 59,
 12,
 5,
 10,
 3,
 2,
 7,
 12,
 18,
 6,
 2,
 42,
 55,
 8,
 101,
 63,
 7,
 9,
 7,
 76,
 42,
 81,
 6,
 12,
 9,
 8,
 1,
 7,
 1,
 3,
 5,
 101,
 37,
 4,
 190,
 5,
 6,
 3,
 4,
 10,
 60,
 1,
 22,
 5,
 1,
 40,
 6,
 7,
 70,
 25,
 1,
 17,
 1,
 4,
 238,
 19,
 8,
 2,
 53,
 3,
 4,
 1,
 11,
 12,
 17,
 14,
 12,
 41,
 1,
 1,
 43,
 2,
 144,
 6,
 15,
 2,
 7,
 2,
 13,
 66,
 61,
 1,
 2,
 4,
 4,
 18,
 24,
 18,
 9,
 4,
 21,
 69,
 3,
 7,
 4,
 34,
 1,
 220,
 3,
 40,
 24,
 16,
 18,
 14,
 15,
 3,
 12,
 12,
 106,
 18,
 124,
 14,
 41,
 8,
 21,
 2,
 6,
 2,
 5,
 93,
 61,
 65,
 65,
 6,
 8,
 23,
 1,
 2,
 3,
 2,
 6,
 1,
 4,
 16,
 4,
 1,
 5,
 4,
 1,
 36,
 116,
 115,
 183,
 224,
 164,
 189,
 279,
 77,
 146,
 60,
 135,
 11,
 1,
 1,
 10,
 4,
 181,
 14,
 33,
 6,
 6,
 8,
 1,
 45,
 3,
 1,
 5,
 1,
 6,
 35,
 11,
 1,
 1,
 4,
 2,
 1,
 33,
 1,
 4,
 11,
 2,
 29,
 162,
 1,
 4,
 65,
 5,
 49,
 7,
 12,
 3,
 8,
 2,
 2,
 36,
 53,
 9,
 9,
 1,
 4,
 2,
 9,
 3,
 4,
 11,
 2,
 5,
 1,
 7,
 2,
 7,
 1,
 21,
 58,
 11,
 8,
 10,
 15,
 3,
 4,
 35,
 27,
 1,
 31,
 5,
 1,
 10,
 3,
 121,
 7,
 123,
 20,
 27,
 11,
 29,
 48,
 3,
 22,
 97,
 1,
 2,
 2,
 19,
 41,
 2,
 19,
 4,
 1,
 1,
 102,
 2,
 202,
 7,
 8,
 47,
 54,
 42,
 64,
 82,
 1,
 1,
 2,
 12,
 23,
 19,
 11,
 46,
 1,
 8,
 35,
 1,
 2,
 9,
 12,
 5,
 10,
 1,
 1,
 6,
 9,
 21,
 37,
 6,
 3,
 17,
 33,
 30,
 15,
 4,
 2,
 12,
 7,
 44,
 6,
 43,
 192,
 9,
 23,
 2,
 3,
 2,
 1,
 1,
 4,
 27,
 5,
 1,
 2,
 6,
 3,
 1,
 5,
 13,
 3,
 2,
 2,
 29,
 47,
 12,
 7,
 36,
 60,
 84,
 14,
 7,
 2,
 57,
 27,
 50,
 13,
 100,
 44,
 35,
 30,
 26,
 2,
 10,
 92,
 45,
 9,
 27,
 69,
 109,
 24,
 3,
 18,
 1,
 20,
 9,
 8,
 23,
 12,
 3,
 6,
 2,
 6,
 8,
 2,
 6,
 7,
 3,
 7,
 3,
 4,
 6,
 6,
 7,
 14,
 12,
 58,
 18,
 18,
 1,
 1,
 1,
 1,
 11,
 28,
 34,
 1,
 10,
 5,
 1,
 1,
 2,
 1,
 2,
 13,
 1,
 2,
 5,
 11,
 1,
 11,
 13,
 3,
 12,
 3,
 6,
 8,
 5,
 10,
 1,
 9,
 9,
 8,
 9,
 12,
 5,
 20,
 5,
 10,
 6,
 17,
 37,
 27,
 42,
 13,
 6,
 25,
 28,
 71,
 35,
 15,
 24,
 40,
 20,
 5,
 64,
 145,
 24,
 1,
 11,
 42,
 5,
 4,
 33,
 21,
 5,
 3,
 1,
 1,
 2,
 7,
 15,
 36,
 36,
 29,
 13,
 4,
 1,
 119,
 28,
 11,
 71,
 89,
 12,
 6,
 6,
 35,
 2,
 25,
 42,
 131,
 63,
 21,
 47,
 37,
 42,
 15,
 10,
 122,
 4,
 19,
 83,
 15,
 20,
 3,
 2,
 4,
 2,
 1,
 1,
 1,
 1,
 27,
 1,
 2,
 13,
 24,
 6,
 62,
 5,
 39,
 5,
 11,
 8,
 13,
 136,
 1,
 1,
 1,
 10,
 56,
 3,
 2,
 1,
 3,
 1,
 1,
 2,
 2,
 17,
 34,
 11,
 21,
 3,
 6,
 12,
 27,
 1,
 45,
 7,
 10,
 23,
 5,
 22,
 11,
 6,
 6,
 5,
 133,
 11,
 211,
 142,
 200,
 59,
 126,
 72,
 7,
 57,
 45,
 120,
 58,
 107,
 18,
 196,
 13,
 24,
 126,
 146,
 51,
 11,
 15,
 11,
 83,
 84,
 129,
 102,
 28,
 19,
 76,
 6,
 16,
 40,
 58,
 22,
 8,
 40,
 64,
 26,
 3,
 18,
 9,
 131,
 10,
 41,
 16,
 33,
 20,
 86,
 79,
 17,
 35,
 45,
 14,
 59,
 25,
 16,
 6,
 23,
 27,
 109,
 91,
 15,
 34,
 43,
 43,
 5,
 143,
 45,
 30,
 9,
 29,
 171,
 30,
 33,
 11,
 39,
 48,
 57,
 12,
 69,
 8,
 9,
 15,
 53,
 19,
 14,
 41,
 7,
 34,
 66,
 11,
 10,
 140,
 20,
 27,
 11,
 17,
 20,
 23,
 28,
 9,
 13,
 56,
 ...]

In [10]:
len(v)

9724

In [13]:
r = data.groupby('title').rating.mean()    #  the average rating of the movie

title
'71 (2014)                                                                                  5.0
'Hellboy': The Seeds of Creation (2004)                                                     3.0
'Round Midnight (1986)                                                                      5.0
'Salem's Lot (2004)                                                                         3.0
'Til There Was You (1997)                                                                   3.0
'Tis the Season for Love (2015)                                                             2.5
'burbs, The (1989)                                                                          2.0
'night Mother (1986)                                                                        3.0
(500) Days of Summer (2009)                                                                 4.0
*batteries not included (1987)                                                              3.0
...All the Marbles (1981)                                                                   4.5
...And Justice for All (1979)                                                               1.0
00 Schneider - Jagd auf Nihil Baxter (1994)                                                 3.0
1-900 (06) (1994)                                                                           5.0
10 (1979)                                                                                   3.0
10 Cent Pistol (2015)                                                                       4.5
10 Cloverfield Lane (2016)                                                                  2.5
10 Items or Less (2006)                                                                     5.0
10 Things I Hate About You (1999)                                                           4.5
10 Years (2011)                                                                             3.0
10,000 BC (2008)                                                                            5.0
100 Girls (2000)                                                                            5.0
100 Streets (2016)                                                                          3.5
101 Dalmatians (1996)                                                                       3.0
101 Dalmatians (One Hundred and One Dalmatians) (1961)                                      4.5
101 Dalmatians II: Patch's London Adventure (2003)                                          5.0
101 Reykjavik (101 Reykjavík) (2000)                                                        3.5
102 Dalmatians (2000)                                                                       4.0
10th & Wolf (2006)                                                                          5.0
10th Kingdom, The (2000)                                                                    4.0
                                                                                           ...
Zero Dark Thirty (2012)                                                                     2.0
Zero Effect (1998)                                                                          1.0
Zero Theorem, The (2013)                                                                    4.0
Zero de conduite (Zero for Conduct) (Zéro de conduite: Jeunes diables au collège) (1933)    2.0
Zeus and Roxanne (1997)                                                                     5.0
Zipper (2015)                                                                               4.0
Zodiac (2007)                                                                               5.0
Zombeavers (2014)                                                                           5.0
Zombie (a.k.a. Zombie 2: The Dead Are Among Us) (Zombi 2) (1979)                            4.0
Zombie Strippers! (2008)                                                                    4.0
Zombieland (2009)                                                                           3.0
Zone 39 (1997)                                                                              3.0
Zone, The (La Zona) (2007)                                                                  5.0
Zookeeper (2011)                                                                            5.0
Zoolander (2001)                                                                            4.0
Zoolander 2 (2016)                                                                          3.5
Zoom (2006)                                                                                 5.0
Zoom (2015)                                                                                 3.0
Zootopia (2016)                                                                             2.5
Zulu (1964)                                                                                 5.0
Zulu (2013)                                                                                 5.0
[REC] (2007)                                                                                4.0
[REC]² (2009)                                                                               3.0
[REC]³ 3 Génesis (2012)                                                                     4.0
anohana: The Flower We Saw That Day - The Movie (2013)                                      2.0
eXistenZ (1999)                                                                             2.5
xXx (2002)                                                                                  3.5
xXx: State of the Union (2005)                                                              5.0
¡Three Amigos! (1986)                                                                       5.0
À nous la liberté (Freedom for Us) (1931)                                                   4.0
Name: rating, Length: 9737, dtype: float64